Aufgabe:
Gib die Top 3 weiblichen Namen für jede 'Ethnicity' aus.
Nutze die bereinigte CSV.

In [3]:
from pathlib import Path
import pandas as pd

data_path = Path() / "data"
clean_baby_names = Path() / "data/clean_baby_names.csv"

df = pd.read_csv(clean_baby_names)

In [52]:
df[(df["Gender"] == "FEMALE") & (df["Rank"] <= 3)]

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
182,2016,FEMALE,BLACK NON HISPANIC,Ava,109,1
183,2016,FEMALE,BLACK NON HISPANIC,Madison,104,2
...,...,...,...,...,...,...
16841,2011,FEMALE,WHITE NON HISPANIC,OLIVIA,213,2
16842,2011,FEMALE,WHITE NON HISPANIC,OLIVIA,213,2
16843,2011,FEMALE,WHITE NON HISPANIC,EMMA,213,2
16844,2011,FEMALE,WHITE NON HISPANIC,LEAH,183,3
16845,2011,FEMALE,WHITE NON HISPANIC,LEAH,183,3